@import "normalize.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "./_vars.scss";
@import "./fonts";
@import "./reset";
@import "./grid";

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 140%;
  font-size: 16px;
  font-weight: 400;

  &.active {
    overflow-y: hidden;
  }
}

.fancybox__backdrop {
  background: #000 !important;
  opacity: 0.3 !important;
}

main {
  &.gray {
    background: #f5f5f5;
  }
}

.banner-swiper, .corp-swiper {

  .swiper-pagination {
    width: auto !important;
    right: 48px;
    left: auto !important;

    .swiper-pagination-bullet {
      background: rgba(255, 255, 255, 0.50);
      transition: width $trans ease-in-out;
    }

    .swiper-pagination-bullet-active {
      width: 20px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }
  }
}


@media screen and (max-width: 1280px) {
}
